.initial-icon {
    background-color: #cfcccc;
    color: #242424;
    border-radius: 50%!important;
    padding-top: 5px;
    width: 30px;
    height: 30px;
    text-align: center!important;
    font-weight: bold;

}

input {
    padding: 5px;
}

#preview-texts {
    max-height: 78.5vh;
    overflow-x: scroll;
}

#preview-texts::-webkit-scrollbar {
    width: 0px; 
    height:0px;
    background: transparent; 
}


.undefined-iconalignment {
    background: transparent;

}

p.undefined-alignment.undefined-bubble {
    font-size: 14px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.left-bubble {
    margin-left: 10px;
    margin-right: 20px;
    padding: 12px;
    max-width: fit-content;
    border-radius: 40px 40px 40px 10px!important;
    position: relative;
    font-size: 18px;
}

#preview-texts{
    padding: 27px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.right-alignment {
    text-align: -webkit-right;
}

.right-bubble{
    margin-left: auto;
    margin-right: 10px;
    padding: 12px;
    border-radius: 40px 40px 10px 40px!important;
    position: relative;
    font-size: 18px;
}


.right-iconalignment{
    right: -34px;
    bottom: 1px;
    position: absolute;    
}

.left-iconalignment{
    position: absolute;
    bottom: 1px;
    left: -34px;

}

/* Trying to prevent the first initial icon to take on weird formatting */
.ui.cards > .card > :last-child, .ui.card > :last-child {
    border-radius: 0;
}

.character-name{
    color: #d4c7c7;
    font-size: 15px;
}

.left-characterName{
    padding-left: 18px;
    margin-bottom: -5px;
    padding-bottom: 10px;
}

.right-characterName{
    padding-right: 18px;
    margin-bottom: -5px;
    padding-bottom: 10px;
    margin-left: auto;
}

/* Screen Display dimensions */
.iphone-X {
    min-width: 375px;
    min-height: 812px;
    border-radius: 5px;
}

.iphone-8 {
    min-width: 375px;
    min-height: 667px;
}

.android {
    min-width: 360px;
    min-height: 640px;
    border-radius: 5px;
}

.pixel {
    min-width: 411px;
    min-height: 731px;
    border-radius: 5px;
}

